@model OnionBookOnline.Models.GoodsViewModel
@{
    ViewBag.Title = "Cart";
}
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="account/index"><i class="fa fa-home"></i> 账户</a></li>
            <li class="active">购物车</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- cart-main-area start -->
<div class="cart-main-area pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">图片</th>
                                    <th class="product-name">产品</th>
                                    <th class="product-price">价格</th>
                                    <th class="product-quantity">数量</th>
                                    <th class="product-subtotal">总价</th>
                                    <th class="product-remove">删除</th>
                                </tr>
                            </thead>
                            <tbody id="goods">
                                @for (int i = 0; i < Model.GOODS.Count; i++)
                                {
                                    var good = Model.GOODS[i];
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src=@good.PICTURE alt="" /></a></td>
                                        <td class="product-name"><a href="product-details.html">@good.NAME</a></td>
                                        <td class="product-price">￥<span class="amount" id="price @i">@good.PRICE</span></td>
                                        <td class="product-quantity"><input type="number" value="@good.AMOUNT" min="1" id="quantity @i" onchange="ChangeSubtotal(@i)" /></td>
                                        <td class="product-subtotal" id="subtotal @i" onp="">￥@good.SUBCOUNT</td>
                                        <td class="product-remove" id="remove @i">
                                            <a href="#"><i class="fa fa-times" onclick="javascript:RemoveItem(@i)"></i></a>
                                        </td>
                                        <td class="product-content" style="display:none" id="bookId @i">@good.BOOKID</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12" style="float: right">
                        <div class="cart_totals">
                            <table>
                                <tbody>
                                    <tr class="order-total">
                                        <th>合计</th>
                                        <td>
                                            <strong><span class="amount"id="totalMoney">￥@Model.TOTAL</span></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout">
                                <a href="~/Account/Checkout"> 结算</a>
                            </div>
                            <div style="height: 40px">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ChangeSubtotal(i) {
        var x = parseInt(document.getElementById("quantity " + i.toString()).value);
        var y = parseFloat(document.getElementById("price " + i.toString()).innerHTML);
        var z = document.getElementById("subtotal " + i.toString());
        var w = document.getElementById("totalMoney");
        var m = parseFloat(z.innerHTML.substr(1));
        var t = parseFloat(w.innerHTML.substr(1));
        t -= m;
        t += x * y;
        z.innerHTML = "￥" + (x * y).toFixed(2).toString();
        w.innerHTML = "￥" + t.toFixed(2).toString();
    }
</script>
<script type="text/javascript">
    function RemoveItem(x) {
        var i = document.getElementById("bookId " + x.toString()).innerHTML;
        $.ajax({
            type: "POST",
            url: "/Account/RemoveCart",
            data: { bookId: i, returnUrl: "/Account/Cart" },
            success: location.reload(true),
        })
    }
</script>