@using OnionBookOnline.Models;
@model OnionBookOnline.Models.GoodsViewModel

@{
    ViewBag.Title = "Star";
}
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="account/index"><i class="fa fa-home"></i> 账户</a></li>
            <li class="active">收藏</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- wishlist-area start -->
<div class="wishlist-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wishlist-content">
                    <form action="#">
                        <div class="wishlist-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-remove"><span class="nobr">删除</span></th>
                                        <th class="product-thumbnail">图片</th>
                                        <th class="product-name"><span class="nobr">书名</span></th>
                                        <th class="product-name"><span class="nobr">作者</span></th>
                                        <th class="product-name"><span class="nobr">出版社</span></th>
                                        <th class="product-price"><span class="nobr">单价</span></th>
                                        <th class="product-add-to-cart"><span class="nobr">加入购物车</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.GOODS.Count > 0)
                                        {
                                            for (int i = 0; i < Model.GOODS.Count; ++i)
                                            {
                                                var good = Model.GOODS[i];
                                                <tr>
                                                    <td class="product-remove"><a href="#" onclick="javascript:RemoveItem(@i)">x</a></td>
                                                    <td class="product-thumbnail"><a href="#"><img src="@good.PICTURE" alt="" /></a></td>
                                                    <td class="product-name"><a href="product-details.html">@good.NAME</a></td>
                                                    <td class="product-name"><a href="product-details.html">@good.AUTHOR</a></td>
                                                    <td class="product-name"><a href="product-details.html">@good.PUBLISHER</a></td>
                                                    <td class="product-price"><span class="amount">￥@good.PRICE</span></td>
                                                    <td class="product-name" style="display:none" id="bookId @i">@good.BOOKID</td>
                                                    <td class="product-add-to-cart"><a href="#"> 加入购物车</a></td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- wishlist-area end -->
<script type="text/javascript">
    function RemoveItem(x) {
        var i = document.getElementById("bookId " + x.toString()).innerHTML;
        $.ajax({
            type: "POST",
            url: "/Account/RemoveStar",
            data: { bookId: i},
            success: location.reload(true),
        })
    }
</script>