@using OnionBookOnline.Models
@{
    ViewBag.count = "1";
    ViewBag.prize = "244元";
    ViewBag.item = new string[] { "假装是一本书", "数量：1", "244元" };
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OnionBook | 洋葱书城</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="~/Images/onion.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- font-awesome.min.css -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- owl.carousel.css -->
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <!-- owl.carousel.css -->
    <link rel="stylesheet" href="~/Content/meanmenu.min.css">
    <!-- shortcode/shortcodes.css -->
    <link rel="stylesheet" href="~/Content/shortcode/shortcodes.css">
    <!-- nivo-slider.css -->
    <link rel="stylesheet" href="~/Content/nivo-slider.css">
    <!-- style.css -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- responsive.css -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <script src="~/Scripts/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header -->
    <header>
        <!-- header-top-area-start -->
        <div class="header-top-area black-bg ptb-7 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="header-top-left">
                            <span>Onion Book Online Store | 洋葱在线书城</span>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8">
                        <div class="header-top-right">
                            <ul>
                                <li class="slide-toggle">

                                    <a href="#"><i class="fa fa-user"> 我的账户</i></a>
                                    <ul class="show-toggle">
                                        <li>
                                            <a href="~/Account/Login">登录</a>
                                        </li>
                                        <li>
                                            <a href="~/Account/Register">注册</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- header-top-area-end -->
        <!-- header-bottom-area-start -->
        <div class="header-bottom-area bg-color-1 ptb-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href="~/"><img src="~/Images/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="header-bottom-middle">
                            <div class="search-box">
                                <form action="~/book/search/">
                                    <select name="standard" id="select">
                                        <option value="bookname">书名</option>
                                        <option value="author">作者</option>
                                        <option value="publisher">出版社</option>
                                        <option value="isbn">ISBN</option>
                                    </select>
                                    <input type="text" placeholder="搜索..." name="keywords" />
                                    <button><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="header-bottom-right">
                            <div class="left-cart">
                                <div class="header-compire">
                                    <a href="~/account/star"><i class="fa fa-heart"></i>收藏夹</a>
                                </div>
                            </div>
                            <div class="shop-cart-area">
                                <div class="top-cart-wrapper">
                                    <div class="block-cart">
                                        <div class="top-cart-title">
                                            <a href="~/account/cart">
                                                <span class="title-cart">购物车</span>
                                                <span class="count-item">@ViewBag.count 个项目</span>
                                                <span class="price">@ViewBag.prize </span>
                                            </a>
                                        </div>
                                        <div class="top-cart-content" id="cart">
                                            <ol class="mini-products-list">
                                                <!-- single item -->
                                                <li>
                                                    <a class="product-image" href="product-details.html">
                                                        <img alt="" src="~/Images/cart/1.jpg">
                                                    </a>
                                                    <div class="product-details">
                                                        <p class="cartproduct-name">
                                                            <a href="#">@ViewBag.item[0] </a>
                                                        </p>
                                                        <strong class="qty">@ViewBag.item[1]</strong>
                                                        <span class="sig-price">@ViewBag.item[2]</span>
                                                    </div>
                                                    <div class="pro-action">
                                                        <a class="btn-remove" href="#">remove</a>
                                                    </div>
                                                </li>
                                                <!-- single item -->
                                            </ol>
                                            <div class="top-subtotal">
                                                总计:
                                                <span class="sig-price">@ViewBag.prize</span>
                                            </div>
                                            <div class="cart-actions">
                                                <button><span>结账</span></button>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area-end -->
    </header>
    <!-- header -->
    <!-- mainmenu-area-start -->
    <div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="mainmenu-left visible-lg  visible-md">
                        <div class="product-menu-title">
                            <h2>
                                所有类别
                                <i class="fa fa-arrow-circle-down"></i>
                            </h2>
                        </div>
                        <div class="product_vmegamenu">
                            <ul>
                                <li>
                                    <a href="#" class="hover-icon"><img src="~/Images/menu-l/2.png" alt="" />经管</a>
                                    <div class="vmegamenu vmegamenu2">
                                        <span>
                                            <a href="~/book/type/?typename=economic/">经济</a>
                                            <a href="~/book/type/?typename=management/">管理</a>
                                            <a href="~/book/type/?typename=financial/">金融</a>
                                            <a href="~/book/type/?typename=investment/">投资</a>
                                            <a href="~/book/type/?typename=marketing/">营销</a>
                                            <a href="~/book/type/?typename=fm/">理财</a>
                                            <a href="~/book/type/?typename=stock/">股票</a>
                                            <a href="~/book/type/?typename=ad/">广告</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="hover-icon"><img src="~/Images/menu-l/3.png" alt="" />生活</a>
                                    <div class="vmegamenu vmegamenu2">
                                        <span>
                                            <a href="~/book/type/?typename=travel/">旅行</a>
                                            <a href="~/book/type/?typename=photography/">摄影</a>
                                            <a href="~/book/type/?typename=food/">美食</a>
                                            <a href="~/book/type/?typename=health/">健康</a>
                                            <a href="~/book/type/?typename=education/">教育</a>
                                            <a href="~/book/type/?typename=home/">家居</a>
                                            <a href="~/book/type/?typename=workplace/">职场</a>
                                            <a href="~/book/type/?typename=gender/">两性</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="hover-icon"><img src="~/Images/menu-l/5.png" alt="" />文化</a>
                                    <div class="vmegamenu vmegamenu2">
                                        <span>
                                            <a href="~/book/type/?typename=history/">历史</a>
                                            <a href="~/book/type/?typename=psychological/">心理</a>
                                            <a href="~/book/type/?typename=society/">社会</a>
                                            <a href="~/book/type/?typename=philosophy/">哲学</a>
                                            <a href="~/book/type/?typename=art/">艺术</a>
                                            <a href="~/book/type/?typename=politics/">政治</a>
                                            <a href="~/book/type/?typename=building/">建筑</a>
                                            <a href="~/book/type/?typename=religion/">宗教</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="hover-icon"><img src="~/Images/menu-l/6.png" alt="" />科技</a>
                                    <div class="vmegamenu vmegamenu2">
                                        <span>
                                            <a href="~/book/type/?typename=sc/">科普</a>
                                            <a href="~/book/type/?typename=science/">科学</a>
                                            <a href="~/book/type/?typename=interaction/">交互</a>
                                            <a href="~/book/type/?typename=programming/">编程</a>
                                            <a href="~/book/type/?typename=algorithms/">算法</a>
                                            <a href="~/book/type/?typename=communication/">通信</a>
                                            <a href="~/book/type/?typename=program/">程序</a>
                                            <a href="~/book/type/?typename=internet/">互联网</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="hover-icon"><img src="~/Images/menu-l/12.png" alt="" />流行</a>
                                    <div class="vmegamenu vmegamenu2">
                                        <span>
                                            <a href="~/book/type/?typename=comic/">漫画</a>
                                            <a href="~/book/type/?typename=painting/">绘本</a>
                                            <a href="~/book/type/?typename=romance/">言情</a>
                                            <a href="~/book/type/?typename=reasoning/">推理</a>
                                            <a href="~/book/type/?typename=sf/">科幻</a>
                                            <a href="~/book/type/?typename=ma/">武侠</a>
                                            <a href="~/book/type/?typename=youthfulness/">青春</a>
                                            <a href="~/book/type/?typename=suspense/">悬疑</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="hover-icon"><img src="~/Images/menu-l/8.png" alt="" />文学</a>
                                    <div class="vmegamenu vmegamenu2">
                                        <span>
                                            <a href="~/book/type/?typename=fiction/">小说</a>
                                            <a href="~/book/type/?typename=scatter/">随笔</a>
                                            <a href="~/book/type/?typename=prose/">散文</a>
                                            <a href="~/book/type/?typename=poetry/">诗歌</a>
                                            <a href="~/book/type/?typename=fairytale/">童话</a>
                                            <a href="~/book/type/?typename=essay/">杂文</a>
                                            <a href="~/book/type/?typename=child/">儿童</a>
                                            <a href="~/book/type/?typename=masterpiece/">名著</a>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                <li id="index">
                                    <a href="~/">主页</a>
                                </li>
                                <li id="recommend">
                                    <a href="~/book/recommend">图书推荐</a>
                                </li>
                                <li id="hot">
                                    <a href="~/book/hot">热卖图书</a>
                                </li>
                                <li id="new">
                                    <a href="~/book/new">新书上架</a>
                                </li>
                                <li id="order">
                                    <a href="~/account/orderlist">历史订单</a>
                                </li>
                                <li id="contact">
                                    <a href="~/home/contact">关于我们</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-start -->
    <div class="mobile-menu-area hidden-md hidden-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu">
                            <ul>
                                <li class="active">
                                    <a href="#">经管</a>
                                    <ul>
                                        <li> <a href="~/book/type/?typename=economic/">经济</a></li>
                                        <li> <a href="~/book/type/?typename=management/">>管理</a></li>
                                        <li> <a href="~/book/type/?typename=financial/">金融</a></li>
                                        <li> <a href="~/book/type/?typename=investment/">投资</a></li>
                                        <li> <a href="~/book/type/?typename=marketing/">>营销</a></li>
                                        <li> <a href="~/book/type/?typename=fm/">理财</a></li>
                                        <li> <a href="~/book/type/?typename=stock/">股票</a></li>
                                        <li> <a href="~/book/type/?typename=ad/">广告</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">生活</a>
                                    <ul>
                                        <li> <a href="~/book/type/?typename=travel/">旅行</a></li>
                                        <li> <a href="~/book/type/?typename=photography/">摄影</a></li>
                                        <li> <a href="~/book/type/?typename=food/">美食</a></li>
                                        <li> <a href="~/book/type/?typename=health/">健康</a></li>
                                        <li> <a href="~/book/type/?typename=education" />教育</a></li>
                                        <li> <a href="~/book/type/?typename=home/">家居</a></li>
                                        <li> <a href="~/book/type/?typename=workplace/">职场</a></li>
                                        <li> <a href="~/book/type/?typename=gender/">两性</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">文化</a>
                                    <ul>
                                        <li> <a href="~/book/type/?typename=history/">历史</a></li>
                                        <li> <a href="~/book/type/?typename=psychological/">心理</a></li>
                                        <li> <a href="~/book/type/?typename=philosophy/">社会</a></li>
                                        <li> <a href="~/book/type/?typename=philosophy/">哲学</a></li>
                                        <li> <a href="~/book/type/?typename=art/">艺术</a></li>
                                        <li> <a href="~/book/type/?typename=politics/">政治</a></li>
                                        <li> <a href="~/book/type/?typename=building/">建筑</a></li>
                                        <li> <a href="~/book/type/?typename=religion/">宗教</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">科技</a>
                                    <ul>
                                        <li> <a href="~/book/type/?typename=sc/">科普</a></li>
                                        <li> <a href="~/book/type/?typename=science/">科学</a></li>
                                        <li> <a href="~/book/type/?typename=interaction/">交互</a></li>
                                        <li> <a href="~/book/type/?typename=programming/">编程</a></li>
                                        <li> <a href="~/book/type/?typename=algorithms/">算法</a></li>
                                        <li> <a href="~/book/type/?typename=communication/">通信</a></li>
                                        <li> <a href="~/book/type/?typename=program/">程序</a></li>
                                        <li> <a href="~/book/type/?typename=internet/">互联网</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">流行</a>
                                    <ul>
                                        <li> <a href="~/book/type/?typename=comic/">漫画</a></li>
                                        <li> <a href="~/book/type/?typename=painting/">绘本</a></li>
                                        <li> <a href="~/book/type/?typename=romance/">言情</a></li>
                                        <li> <a href="~/book/type/?typename=reasoning/">推理</a></li>
                                        <li> <a href="~/book/type/?typename=sf/">科幻</a></li>
                                        <li> <a href="~/book/type/?typename=ma/">武侠</a></li>
                                        <li> <a href="~/book/type/?typename=youthfulness/">青春</a></li>
                                        <li> <a href="~/book/type/?typename=suspense/">悬疑</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">文学</a>
                                    <ul>
                                        <li> <a href="~/book/type/?typename=fiction/">小说</a></li>
                                        <li> <a href="~/book/type/?typename=scatter/">随笔</a></li>
                                        <li> <a href="~/book/type/?typename=prose/">散文</a></li>
                                        <li> <a href="~/book/type/?typename=poetry/">诗歌</a></li>
                                        <li> <a href="~/book/type/?typename=fairytale/">童话</a></li>
                                        <li> <a href="~/book/type/?typename=essay/">杂文</a></li>
                                        <li> <a href="~/book/type/?typename=child/">儿童</a></li>
                                        <li> <a href="~/book/type/?typename=masterpiece/">名著</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-end -->
    <!-- mainmenu-area-end -->

    <section>
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <!-- copyright-area-start -->
    <div class="copyright-area text-center bg-color-3">
        <div class="container">
            <div class="copyright-border ptb-30">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="copyright text-left">
                            <p>
                                Copyright
                                <a href="https://github.com/zjzsliyang/OnionBook">OnionBook</a>. All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright-area-end -->
    <!-- all js here -->
    <script>
        if (window.location.href != "http://localhost:52570/") {
            document.getElementsByClassName('product_vmegamenu')[0].style.display = 'none'
        }
    </script>
    <script>
        switch (window.location.href) {
            case 'http://localhost:52570/book/recommend':
                $('li[id=recommend]').addClass('active');
                break;
            case 'http://localhost:52570/book/hot':
                $('li[id=hot]').addClass('active');
                break;
            case 'http://localhost:52570/book/new':
                $('li[id=new]').addClass('active');
                break;
            case 'http://localhost:52570/home/contact':
                $('li[id=contact]').addClass('active');
                break;
            case 'http://localhost:52570/account/orderlist':
                $('li[id=order]').addClass('active');
                break;
            default:
                $('li[id=index]').addClass('active');
                break;
        }
    </script>
    <!-- jquery-1.12.0 -->
    <script src="~/Scripts/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap.min.js -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- nivo.slider.js -->
    <script src="~/Scripts/jquery.nivo.slider.pack.js"></script>
    <!-- jquery-ui.min.js -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- jquery.magnific-popup.min.js -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <!-- jquery.meanmenu.min.js -->
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- jquery.scrollup.min.js-->
    <script src="~/Scripts/jquery.scrollup.min.js"></script>
    <!-- owl.carousel.min.js -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- plugins.js -->
    <script src="~/Scripts/plugins.js"></script>
    <!-- main.js -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>
